.conda/
.ipynb_checkpoints/
src/trails/__pycache__/
dist/
src/trails_rivasiker.egg-info/
dist/trails-rivasiker-0.0.2.tar.gz
dist/trails_rivasiker-0.0.2-py3-none-any.whl
src/trails_rivasiker.egg-info/PKG-INFO
src/trails_rivasiker.egg-info/SOURCES.txt
src/trails_rivasiker.egg-info/PKG-INFO
dist/trails_rivasiker-0.0.2-py3-none-any.whl
dist/trails-rivasiker-0.0.2.tar.gz
.DS_Store
src/trails/.DS_Store
src/trails/__init__.py
src/trails/__pycache__/__init__.cpython-37.pyc
src/trails/__pycache__/combine_states.cpython-37.pyc
src/trails/__pycache__/cutpoints.cpython-37.pyc
src/trails/__pycache__/get_emission_prob_mat.cpython-37.pyc
src/trails/__pycache__/get_joint_prob_mat.cpython-37.pyc
src/trails/__pycache__/get_joint_prob_mat_introgression.cpython-37.pyc
src/trails/__pycache__/get_ordered.cpython-37.pyc
src/trails/__pycache__/get_tab.cpython-37.pyc
src/trails/__pycache__/get_tab_introgression.cpython-37.pyc
src/trails/__pycache__/get_times.cpython-37.pyc
src/trails/__pycache__/load_trans_mat.cpython-37.pyc
src/trails/__pycache__/optimizer.cpython-37.pyc
src/trails/__pycache__/read_data.cpython-37.pyc
src/trails/__pycache__/vanloan.cpython-37.pyc
